.profile__ul li a {
  font-size: var(--text-size1);
  font-weight: var(--font-weight3);
  width: 35%;
  min-width: 100px;
  border-radius: 0.25rem;
  border: 1px solid var(--color-brand-2);
  background-color: var(--color-brand-2);
  color: var(--color-grey-7);
  padding: 0.5rem;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
}

.profile__ul li a:hover {
  background-color: var(--color-brand-1);
}
